In [11]:
import pandas as pd
hr = pd.read_csv(r"C:\Users\pattargv\Downloads\Test_Data\HR_salary.csv")
hr.head(5)

array(['Sales', 'Engineering', 'Legal', 'Support', 'Human Resources',
       'Business Development', 'Product Management', 'Training',
       'Research and Development', 'Accounting', 'Services', 'Marketing'],
      dtype=object)

In [12]:
hr["Department"].unique()

array(['Sales', 'Engineering', 'Legal', 'Support', 'Human Resources',
       'Business Development', 'Product Management', 'Training',
       'Research and Development', 'Accounting', 'Services', 'Marketing'],
      dtype=object)

In [17]:
rating_dict = {'Very Good': 6,'Good':5, 'Average':4,'Poor':3, 'Very Poor':2, 'Not Rated':1}
dept_dict = {'Accounting':1,'Accounts': 1, 'Business Development': 2, 'Engineering': 3, 'Human Resources': 4, 'Legal': 5,
             'Marketing':6, 'Product Management': 7, 'Research and Development':8, 'Sales':9, 'Services': 10, 'Support':11, 
             'Training':12}
gender_dict = {'Male':1,'Female': 2, 'Not Revealed': 3}


hr['Rating'] = hr['Rating'].map(rating_dict)
hr['Department'] = hr['Department'].map(dept_dict)
hr['Gender'] = hr['Gender'].map(gender_dict)

hr.head()

   Gender  Department  Salary  Rating
0       1           9   88050       6
1       2           3   68220       5
2       3           5   56370       6
3       2          11  107090       3
4       1          11  108450       3

In [19]:
import sklearn
from sklearn import svm

#hr = hr.drop("Name", axis = 1)
hr.head()

   Gender  Department  Salary  Rating
0       1           9   88050       6
1       2           3   68220       5
2       3           5   56370       6
3       2          11  107090       3
4       1          11  108450       3

In [21]:
X = hr.drop("Salary", axis =1 ).values
#X = preprocessing.scale(X)
y = hr["Salary"].values



test_size = 200


X_train = X[:-test_size]
y_train = y[:-test_size]


X_test = X[-test_size:]
y_test = y[-test_size:]

In [24]:
clf = svm.SVR(kernel = "linear")
clf.fit(X_train, y_train)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
  gamma='auto_deprecated', kernel='linear', max_iter=-1, shrinking=True,
  tol=0.001, verbose=False)

In [26]:
print(clf.score(X_test, y_test))

for X,y in zip(X_test, y_test):
    print(f"Model: {clf.predict([X])[0]}, Actual: {y}")

-0.011926403802853702
Model: 72729.5, Actual: 72040
Model: 72648.5, Actual: 108450
Model: 72576.5, Actual: 58260
Model: 72734.5, Actual: 70020
Model: 72436.5, Actual: 35670
Model: 72211.5, Actual: 67630
Model: 72457.5, Actual: 82300
Model: 72311.5, Actual: 114870
Model: 72795.5, Actual: 71030
Model: 72947.5, Actual: 85670
Model: 72284.5, Actual: 61700
Model: 72496.5, Actual: 66140
Model: 72569.5, Actual: 51860
Model: 72530.5, Actual: 61210
Model: 72290.5, Actual: 68980
Model: 72217.5, Actual: 29610
Model: 72356.5, Actual: 114430
Model: 72649.5, Actual: 53760
Model: 72795.5, Actual: 91310
Model: 72868.5, Actual: 117840
Model: 72655.5, Actual: 31830
Model: 72524.5, Actual: 32980
Model: 72364.5, Actual: 47360
Model: 72349.5, Actual: 86740
Model: 72947.5, Actual: 87400
Model: 72290.5, Actual: 75090
Model: 72211.5, Actual: 78020
Model: 72721.5, Actual: 92340
Model: 72297.5, Actual: 58830
Model: 72721.5, Actual: 32140
Model: 72218.5, Actual: 102520
Model: 72444.5, Actual: 79590
Model: 72933.5, Actual: 28970
Model: 72436.5, Actual: 92700
Model: 72224.5, Actual: 36150
Model: 72211.5, Actual: 52960
Model: 72655.5, Actual: 31920
Model: 72641.5, Actual: 104210
Model: 72590.5, Actual: 40750
Model: 73006.5, Actual: 98020
Model: 72808.5, Actual: 96620
Model: 72708.5, Actual: 40400
Model: 72656.5, Actual: 81220
Model: 73035.5, Actual: 33840
Model: 72722.5, Actual: 75880
Model: 72378.5, Actual: 81380
Model: 72743.5, Actual: 71490
Model: 72655.5, Actual: 91930
Model: 72363.5, Actual: 107790
Model: 72655.5, Actual: 69970
Model: 72203.5, Actual: 114180
Model: 72430.5, Actual: 85330
Model: 72794.5, Actual: 36820
Model: 72576.5, Actual: 116890
Model: 72729.5, Actual: 78710
Model: 72217.5, Actual: 86470
Model: 72947.5, Actual: 77110
Model: 72669.5, Actual: 86570
Model: 72277.5, Actual: 117850
Model: 72603.5, Actual: 116500
Model: 72224.5, Actual: 80030
Model: 72423.5, Actual: 76320
Model: 72927.5, Actual: 110730
Model: 73027.5, Actual: 86990
Model: 72569.5, Actual: 74410
Model: 72569.5, Actual: 87610
Model: 72283.5, Actual: 103340
Model: 72290.5, Actual: 46470
Model: 72517.5, Actual: 108290
Model: 72350.5, Actual: 78640
Model: 72807.5, Actual: 75990
Model: 72795.5, Actual: 55280
Model: 72223.5, Actual: 98010
Model: 72430.5, Actual: 50310
Model: 72576.5, Actual: 91360
Model: 72204.5, Actual: 115920
Model: 72370.5, Actual: 56870
Model: 72933.5, Actual: 75970
Model: 72204.5, Actual: 52270
Model: 72305.5, Actual: 39780
Model: 72868.5, Actual: 58960
Model: 73013.5, Actual: 37900
Model: 72794.5, Actual: 45510
Model: 72655.5, Actual: 66610
Model: 72809.5, Actual: 44120
Model: 72874.5, Actual: 32270
Model: 72384.5, Actual: 37130
Model: 72794.5, Actual: 45590
Model: 72211.5, Actual: 94070
Model: 72874.5, Actual: 41220
Model: 72217.5, Actual: 119930
Model: 72363.5, Actual: 94820
Model: 72204.5, Actual: 38830
Model: 72349.5, Actual: 28870
Model: 72575.5, Actual: 70760
Model: 72722.5, Actual: 71540
Model: 72728.5, Actual: 104680
Model: 73014.5, Actual: 63370
Model: 72284.5, Actual: 106400
Model: 72582.5, Actual: 36920
Model: 72436.5, Actual: 57820
Model: 72290.5, Actual: 93740
Model: 73027.5, Actual: 93960
Model: 72576.5, Actual: 107220
Model: 73006.5, Actual: 90150
Model: 72350.5, Actual: 94020
Model: 72575.5, Actual: 42970
Model: 72503.5, Actual: 33410
Model: 72649.5, Actual: 119670
Model: 72211.5, Actual: 115380
Model: 72934.5, Actual: 75010
Model: 72210.5, Actual: 104120
Model: 72736.5, Actual: 82680
Model: 72225.5, Actual: 52250
Model: 72795.5, Actual: 83190
Model: 72218.5, Actual: 83590
Model: 72708.5, Actual: 107700
Model: 72801.5, Actual: 102130
Model: 72350.5, Actual: 74360
Model: 72895.5, Actual: 42310
Model: 72364.5, Actual: 78440
Model: 72940.5, Actual: 113760
Model: 72874.5, Actual: 93880
Model: 72516.5, Actual: 85000
Model: 72430.5, Actual: 72550
Model: 72516.5, Actual: 72360
Model: 72217.5, Actual: 114890
Model: 72589.5, Actual: 107580
Model: 72722.5, Actual: 36040
Model: 72649.5, Actual: 35010
Model: 72722.5, Actual: 74280
Model: 72736.5, Actual: 115790
Model: 72941.5, Actual: 38330
Model: 72270.5, Actual: 70270
Model: 72941.5, Actual: 37060
Model: 72714.5, Actual: 58100
Model: 72927.5, Actual: 99780
Model: 72218.5, Actual: 119020
Model: 72350.5, Actual: 92940
Model: 73035.5, Actual: 59670
Model: 72569.5, Actual: 77470
Model: 72350.5, Actual: 45650
Model: 72363.5, Actual: 88430
Model: 72423.5, Actual: 36880
Model: 72854.5, Actual: 111820
Model: 72430.5, Actual: 92870
Model: 72284.5, Actual: 100360
Model: 72277.5, Actual: 48950
Model: 72802.5, Actual: 52810
Model: 72517.5, Actual: 78560
Model: 72947.5, Actual: 75280
Model: 73027.5, Actual: 93130
Model: 72304.5, Actual: 105290
Model: 73035.5, Actual: 108340
Model: 72284.5, Actual: 101420
Model: 72282.5, Actual: 54780
Model: 72933.5, Actual: 63560
Model: 72729.5, Actual: 68480
Model: 72503.5, Actual: 99460
Model: 72875.5, Actual: 100420
Model: 72436.5, Actual: 39650
Model: 73020.5, Actual: 56250
Model: 72582.5, Actual: 57640
Model: 72343.5, Actual: 43150
Model: 72238.5, Actual: 106080
Model: 72788.5, Actual: 29590
Model: 72217.5, Actual: 86240
Model: 72661.5, Actual: 36480
Model: 72596.5, Actual: 48590
Model: 72357.5, Actual: 41670
Model: 72743.5, Actual: 62280
Model: 72882.5, Actual: 92010
Model: 73006.5, Actual: 59560
Model: 72363.5, Actual: 114810
Model: 72676.5, Actual: 66870
Model: 72444.5, Actual: 113790
Model: 72509.5, Actual: 38250
Model: 72974.5, Actual: 48090
Model: 72211.5, Actual: 99630
Model: 72662.5, Actual: 86340
Model: 72807.5, Actual: 88590
Model: 72941.5, Actual: 61100
Model: 72649.5, Actual: 71240
Model: 72809.5, Actual: 114650
Model: 72422.5, Actual: 76900
Model: 72276.5, Actual: 116590
Model: 72363.5, Actual: 78390
Model: 72224.5, Actual: 103610
Model: 72350.5, Actual: 98110
Model: 72457.5, Actual: 33960
Model: 72305.5, Actual: 112110
Model: 73026.5, Actual: 91310
Model: 72284.5, Actual: 71370
Model: 73041.5, Actual: 71570
Model: 72582.5, Actual: 67910
Model: 72947.5, Actual: 100370
Model: 72297.5, Actual: 90240
Model: 72363.5, Actual: 75870
Model: 73041.5, Actual: 58740
Model: 72509.5, Actual: 32500

In [29]:
clf1 = svm.SVR(kernel = "rbf")
clf1.fit(X_train, y_train)

c:\users\pattargv\appdata\local\programs\python\python37\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
  gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
  tol=0.001, verbose=False)

In [30]:
print(clf1.score(X_test, y_test))

for X,y in zip(X_test, y_test):
    print(f"Model: {clf1.predict([X])[0]}, Actual: {y}")

-0.009832030902222622
Model: 72493.8124400378, Actual: 72040
Model: 72499.10634627446, Actual: 108450
Model: 72498.603740794, Actual: 58260
Model: 72499.80707165507, Actual: 70020
Model: 72500.86890066983, Actual: 35670
Model: 72502.67968962385, Actual: 67630
Model: 72502.66539934016, Actual: 82300
Model: 72500.69141484145, Actual: 114870
Model: 72497.61030268464, Actual: 71030
Model: 72506.59171586248, Actual: 85670
Model: 72502.46500074414, Actual: 61700
Model: 72498.86503916488, Actual: 66140
Model: 72498.64827495733, Actual: 51860
Model: 72503.81110437037, Actual: 61210
Model: 72498.90949285097, Actual: 68980
Model: 72499.05864196287, Actual: 29610
Model: 72494.67478901516, Actual: 114430
Model: 72494.61686304196, Actual: 53760
Model: 72497.61030268464, Actual: 91310
Model: 72501.7235675629, Actual: 117840
Model: 72496.83587025596, Actual: 31830
Model: 72503.4510878155, Actual: 32980
Model: 72503.23058915042, Actual: 47360
Model: 72495.1088473714, Actual: 86740
Model: 72506.59171586248, Actual: 87400
Model: 72498.90949285097, Actual: 75090
Model: 72502.67968962385, Actual: 78020
Model: 72500.60805377635, Actual: 92340
Model: 72500.53780368819, Actual: 58830
Model: 72500.60805377635, Actual: 32140
Model: 72501.53584211956, Actual: 102520
Model: 72503.0842055491, Actual: 79590
Model: 72505.8162561961, Actual: 28970
Model: 72500.86890066983, Actual: 92700
Model: 72499.41698872208, Actual: 36150
Model: 72502.67968962385, Actual: 52960
Model: 72496.83587025596, Actual: 31920
Model: 72501.78361683729, Actual: 104210
Model: 72503.55023218546, Actual: 40750
Model: 72504.58891260784, Actual: 98020
Model: 72497.72961368052, Actual: 96620
Model: 72503.00979848308, Actual: 40400
Model: 72497.4025477957, Actual: 81220
Model: 72503.178580758, Actual: 33840
Model: 72493.42493442497, Actual: 75880
Model: 72501.59503170138, Actual: 81380
Model: 72500.79735965897, Actual: 71490
Model: 72496.83587025596, Actual: 91930
Model: 72499.04789149137, Actual: 107790
Model: 72496.83587025596, Actual: 69970
Model: 72497.94763506974, Actual: 114180
Model: 72500.2205872489, Actual: 85330
Model: 72505.71634559074, Actual: 36820
Model: 72498.603740794, Actual: 116890
Model: 72493.8124400378, Actual: 78710
Model: 72499.05864196287, Actual: 86470
Model: 72506.59171586248, Actual: 77110
Model: 72501.09050725904, Actual: 86570
Model: 72500.64758550376, Actual: 117850
Model: 72503.5648351323, Actual: 116500
Model: 72499.41698872208, Actual: 80030
Model: 72496.88394602026, Actual: 76320
Model: 72503.07961882219, Actual: 110730
Model: 72504.99227204568, Actual: 86990
Model: 72498.64827495733, Actual: 74410
Model: 72498.64827495733, Actual: 87610
Model: 72496.63283634657, Actual: 103340
Model: 72498.90949285097, Actual: 46470
Model: 72503.4610301459, Actual: 108290
Model: 72497.22328636657, Actual: 78640
Model: 72503.6669230112, Actual: 75990
Model: 72497.61030268464, Actual: 55280
Model: 72498.03692112233, Actual: 98010
Model: 72500.2205872489, Actual: 50310
Model: 72498.603740794, Actual: 91360
Model: 72501.85382012583, Actual: 115920
Model: 72502.5573313813, Actual: 56870
Model: 72505.8162561961, Actual: 75970
Model: 72501.85382012583, Actual: 52270
Model: 72500.35994246032, Actual: 39780
Model: 72501.7235675629, Actual: 58960
Model: 72506.41579517949, Actual: 37900
Model: 72505.71634559074, Actual: 45510
Model: 72496.83587025596, Actual: 66610
Model: 72498.40732779114, Actual: 44120
Model: 72505.86921781482, Actual: 32270
Model: 72501.5503322746, Actual: 37130
Model: 72505.71634559074, Actual: 45590
Model: 72502.67968962385, Actual: 94070
Model: 72505.86921781482, Actual: 41220
Model: 72499.05864196287, Actual: 119930
Model: 72499.04789149137, Actual: 94820
Model: 72501.85382012583, Actual: 38830
Model: 72495.1088473714, Actual: 28870
Model: 72500.19338150973, Actual: 70760
Model: 72493.42493442497, Actual: 71540
Model: 72495.41976561354, Actual: 104680
Model: 72502.18390876861, Actual: 63370
Model: 72502.46500074414, Actual: 106400
Model: 72501.46566378657, Actual: 36920
Model: 72500.86890066983, Actual: 57820
Model: 72498.90949285097, Actual: 93740
Model: 72504.99227204568, Actual: 93960
Model: 72498.603740794, Actual: 107220
Model: 72504.58891260784, Actual: 90150
Model: 72497.22328636657, Actual: 94020
Model: 72500.19338150973, Actual: 42970
Model: 72500.599723638, Actual: 33410
Model: 72494.61686304196, Actual: 119670
Model: 72502.67968962385, Actual: 115380
Model: 72503.32417546406, Actual: 75010
Model: 72497.96799183155, Actual: 104120
Model: 72498.22782511683, Actual: 82680
Model: 72500.1426947248, Actual: 52250
Model: 72497.61030268464, Actual: 83190
Model: 72501.53584211956, Actual: 83590
Model: 72503.00979848308, Actual: 107700
Model: 72500.66616216021, Actual: 102130
Model: 72497.22328636657, Actual: 74360
Model: 72501.88708215498, Actual: 42310
Model: 72503.23058915042, Actual: 78440
Model: 72507.91099382838, Actual: 113760
Model: 72505.86921781482, Actual: 93880
Model: 72505.25066034637, Actual: 85000
Model: 72500.2205872489, Actual: 72550
Model: 72505.25066034637, Actual: 72360
Model: 72499.05864196287, Actual: 114890
Model: 72503.74446584702, Actual: 107580
Model: 72493.42493442497, Actual: 36040
Model: 72494.61686304196, Actual: 35010
Model: 72493.42493442497, Actual: 74280
Model: 72498.22782511683, Actual: 115790
Model: 72502.01332479365, Actual: 38330
Model: 72500.00600291452, Actual: 70270
Model: 72502.01332479365, Actual: 37060
Model: 72503.54774624044, Actual: 58100
Model: 72503.07961882219, Actual: 99780
Model: 72501.53584211956, Actual: 119020
Model: 72497.22328636657, Actual: 92940
Model: 72503.178580758, Actual: 59670
Model: 72498.64827495733, Actual: 77470
Model: 72497.22328636657, Actual: 45650
Model: 72499.04789149137, Actual: 88430
Model: 72496.88394602026, Actual: 36880
Model: 72505.89075543042, Actual: 111820
Model: 72500.2205872489, Actual: 92870
Model: 72502.46500074414, Actual: 100360
Model: 72500.64758550376, Actual: 48950
Model: 72495.51036841865, Actual: 52810
Model: 72503.4610301459, Actual: 78560
Model: 72506.59171586248, Actual: 75280
Model: 72504.99227204568, Actual: 93130
Model: 72500.62871772352, Actual: 105290
Model: 72503.178580758, Actual: 108340
Model: 72502.46500074414, Actual: 101420
Model: 72497.33374945381, Actual: 54780
Model: 72505.8162561961, Actual: 63560
Model: 72493.8124400378, Actual: 68480
Model: 72500.599723638, Actual: 99460
Model: 72499.9463766515, Actual: 100420
Model: 72500.86890066983, Actual: 39650
Model: 72506.24766250889, Actual: 56250
Model: 72501.46566378657, Actual: 57640
Model: 72497.37770958347, Actual: 43150
Model: 72500.53262900113, Actual: 106080
Model: 72503.49970371946, Actual: 29590
Model: 72499.05864196287, Actual: 86240
Model: 72500.39878765347, Actual: 36480
Model: 72504.34730520126, Actual: 48590
Model: 72500.6246943794, Actual: 41670
Model: 72500.79735965897, Actual: 62280
Model: 72501.85064913881, Actual: 92010
Model: 72504.58891260784, Actual: 59560
Model: 72499.04789149137, Actual: 114810
Model: 72501.80103700273, Actual: 66870
Model: 72503.0842055491, Actual: 113790
Model: 72502.90045394479, Actual: 38250
Model: 72500.22863424114, Actual: 48090
Model: 72502.67968962385, Actual: 99630
Model: 72498.41010753629, Actual: 86340
Model: 72503.6669230112, Actual: 88590
Model: 72502.01332479365, Actual: 61100
Model: 72494.61686304196, Actual: 71240
Model: 72498.40732779114, Actual: 114650
Model: 72495.52360438884, Actual: 76900
Model: 72497.12128956678, Actual: 116590
Model: 72499.04789149137, Actual: 78390
Model: 72499.41698872208, Actual: 103610
Model: 72497.22328636657, Actual: 98110
Model: 72502.66539934016, Actual: 33960
Model: 72500.35994246032, Actual: 112110
Model: 72507.29667362665, Actual: 91310
Model: 72502.46500074414, Actual: 71370
Model: 72501.2252019925, Actual: 71570
Model: 72501.46566378657, Actual: 67910
Model: 72506.59171586248, Actual: 100370
Model: 72500.53780368819, Actual: 90240
Model: 72499.04789149137, Actual: 75870
Model: 72501.2252019925, Actual: 58740
Model: 72502.90045394479, Actual: 32500

In [42]:
housing = pd.read_csv(r"C:\Users\pattargv\Downloads\Test_Data\Houseprice1.csv")
housing.head()

   area  bedrooms  age   price
0  1000         3   20  550000
1  1500         4   15  590000
2  2300         3   12  610000
3  3540         2   18  540000
4  4120         4   30  510000

In [43]:
X = housing.drop("price", axis = 1).values
y = housing["price"].values

test_size = 3


X_train = X[:-test_size]
y_train = y[:-test_size]


X_test = X[-test_size:]
y_test = y[-test_size:]


clf = svm.SVR(kernel = "linear")
clf.fit(X_train, y_train)


print(clf.score(X_test, y_test))

for X,y in zip(X_test, y_test):
    print(f"Model: {clf.predict([X])[0]}, Actual: {y}")

-2.2027502304333253
Model: 525676.9174663039, Actual: 510000
Model: 515118.49509757257, Actual: 690000
Model: 492400.24286700843, Actual: 720000

   area  bedrooms  age   price
0  1000       3.0   20  550000
1  1500       4.0   15  590000
2  2300       3.0   12  610000
3  3540       NaN   18  540000
4  4120       4.0   30  510000
5  4560       4.0    8  690000
6  5490       5.0    2  720000

In [47]:
df = pd.read_csv(r"C:\Users\pattargv\Downloads\Test_Data\diamonds.csv", index_col=0)
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [48]:
df['cut'].unique()

array(['Ideal', 'Premium', 'Good', 'Very Good', 'Fair'], dtype=object)

In [49]:
cut_class_dict = {"Fair": 1, "Good": 2, "Very Good": 3, "Premium": 4, "Ideal": 5}
clarity_dict = {"I3": 1, "I2": 2, "I1": 3, "SI2": 4, "SI1": 5, "VS2": 6, "VS1": 7, "VVS2": 8, "VVS1": 9, "IF": 10, "FL": 11}
color_dict = {"J": 1,"I": 2,"H": 3,"G": 4,"F": 5,"E": 6,"D": 7}

df['cut'] = df['cut'].map(cut_class_dict)
df['clarity'] = df['clarity'].map(clarity_dict)
df['color'] = df['color'].map(color_dict)

In [50]:
df.head()

   carat  cut  color  clarity  depth  table  price     x     y     z
1   0.23    5      6        4   61.5   55.0    326  3.95  3.98  2.43
2   0.21    4      6        5   59.8   61.0    326  3.89  3.84  2.31
3   0.23    2      6        7   56.9   65.0    327  4.05  4.07  2.31
4   0.29    4      2        6   62.4   58.0    334  4.20  4.23  2.63
5   0.31    2      1        4   63.3   58.0    335  4.34  4.35  2.75

In [51]:
df.tail()

       carat  cut  color  clarity  depth  table  price     x     y     z
53936   0.72    5      7        5   60.8   57.0   2757  5.75  5.76  3.50
53937   0.72    2      7        5   63.1   55.0   2757  5.69  5.75  3.61
53938   0.70    3      7        5   62.8   60.0   2757  5.66  5.68  3.56
53939   0.86    4      3        4   61.0   58.0   2757  6.15  6.12  3.74
53940   0.75    5      7        4   62.2   55.0   2757  5.83  5.87  3.64

In [52]:
import sklearn
from sklearn import svm, preprocessing

df = sklearn.utils.shuffle(df)

X = df.drop("price", axis = 1).values
X = preprocessing.scale(X)

y = df["price"].values